body{
	margin: 10px;
	font-family: 'HelveticaNeue' , Arial, sans-serif;
	font-size: 13px;
}

.container{
	max-width: 495px;
	margin-left: 214px;
	padding: 0 10px;
}

@media (max-width: 1120px){
	.container{
		margin: 0 auto;
	}
}

.button{
	border: 1px solid #e1e1e1;
    border-radius: 3px;
	background-color: transparent;
	display: block;
}

.button:focus{
	outline: none;
}

.button:hover{
	border-color: #b3b3b3;
}

.main-header{
	display: flex;
	height: 74px;
	border: 1px solid #e1e1e1;
	align-items: center;
	border-bottom: 0;
}

.logo{
	padding-left: 20px;
	margin-right: 20px;
	flex-shrink: 0;
}

.logo__link{
	display: inline-block;
	height: 28px;
}

.logo__link--yandex{
	background-image: url(img/logo__yandex.svg);
	width: 70px;
}

.logo__link--spravochnik{
	background-image: url(img/logo__spravochnik.svg);
	width: 115px;
	margin-bottom: -2px;
}

.main-header__search-form{
	display: flex;
	width: 458px;
	margin-right: 20px;
}

.main-header__search-form input{
	width: 100%;
	border: 1px solid #e1e1e1;
    border-radius: 3px 0 0 3px;
	padding: 8px 13px;
	padding-top: 5px;
	font-size: 15px;
}

.main-header__search-form input:hover{
	border-color: #b3b3b3;
}

.main-header__search-form input:focus{
	border-color: #b3b3b3;
	outline: none;
}

.main-header__search-form input::-webkit-input-placeholder{
	color: rgba(0, 0, 0, 0.4);
	opacity: 1;
}
.main-header__search-form input::-moz-placeholder{
	color: rgba(0, 0, 0, 0.4);
	opacity: 1;
}
.main-header__search-form input:-moz-placeholder{
	color: rgba(0, 0, 0, 0.4);
	opacity: 1;
}
.main-header__search-form input:-ms-input-placeholder{
	color: rgba(0, 0, 0, 0.4 );
	opacity: 1;
}

.main-header__search-form button{
	border-radius: 0 3px 3px 0;
	padding: 8px 13px;
	padding-top: 5px;
	border-left: 1px solid transparent;
	font-size: 15px;
}

.main-header__search-form button:hover{
	border: 1px solid #b3b3b3;
}

.main-header__user{
	margin-left: auto;
	margin-right: 27px;
}

.main-header__user-photo{
	border-radius: 50%;
}

.main-nav{
	border: 1px solid #e1e1e1;
	border-bottom: 0;
}

.main-nav__list{
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	align-items: center;
}

.main-nav__list li{
	margin-right: 40px;
}

.main-nav__link{
	text-decoration: none;
	color: #000;
	display: block;
	padding-top: 20px;
	padding-bottom: 20px;
	border-bottom: 2px solid transparent;
}

.main-nav__link:hover{
	color: rgba(0, 0, 0, 0.6);
}

.main-nav__link.active{
	border-bottom: 2px solid #000;
}

.organisations{
	border: 1px solid #e1e1e1;
}

.organisation__header{
	display: flex;
	padding-top: 23px;
}

.organisation__title{
	font-size: 36px;
	margin: 0;
	margin-right: 10px;
	margin-bottom: 26px;
	font-weight: 300;
	font-family: Arial, sans-serif;
	letter-spacing: -0.01em;
}

.organisation__map-link{
	text-decoration: none;
	padding-left: 13px;
	position: relative;
	color: rgba(66, 123, 216, 1);
	margin-top: 19px;
}

.organisation__map-link:hover{
	color: rgba(66, 123, 216, 0.6);
}

.organisation__map-link::before{
	content: "";
	position: absolute;
	width: 18px;
	height: 18px;
	background-image: url(img/maps.svg);
	top: -2px;
	left: -4px;
}

.organisation__nav-list{
	list-style: none;
	display: flex;
	margin: 0;
	padding: 0;
}

.organisation__nav li:first-child a{
	border-radius: 3px 0 0 3px;
}

.organisation__nav-link{
	text-decoration: none;
	color: #000;
	padding-left: 18px;
	padding-right: 18px;
	padding-top: 5px;
	padding-bottom: 6px;
	border-right: 1px solid transparent;
	border-radius: 0;
	transition: padding 0.3s , background 0.3s;
}

.organisation__nav li:last-child a{
	border-right: 1px solid #e1e1e1;;
	border-radius: 0 3px 3px 0;
}

.organisation__nav li:last-child a:hover{
	border: 1px solid #b3b3b3;
}

.organisation__nav-link.active{
	background-color: #feeaa2;
	padding-left: 29px;
	padding-right: 29px;
}

.reviews__title{
	font-size: 24px;
	font-weight: 300;
	margin-top: 27px;
	margin-left: 2px;
	margin-bottom: 23px;
	position: relative;
}

.reviews__rating-sum{
	display: inline-block;
	background-color: #fecd00;
	font-size: 15px;
    padding: 4px 7px;
	padding-right: 5px;
	margin-left: 21px;
	position: absolute;
	top: 2px;
}

.reviews__rating-sum::after{
	content: '';
    display: block;
    position: absolute;
    border-top: 13px solid transparent;
    border-left: 8px solid #fecd00;
    top: 0;
    border-bottom: 12px solid transparent;
    right: -8px;
}

.reviews__list{
	margin: 0;
	padding: 0;
	list-style: none;
}

.review{
	margin-bottom: 24px;
	margin-left: 4px;
	letter-spacing: -0.01em;
}

.review__header{
	display: flex;
	align-items: center;
}

.review__author-link{
	display: flex;
	align-items: center;
	text-decoration: none;
	margin-right: 15px;
}

.review__author-photo{
	border-radius: 50%;
	margin-right: 10px;
}

.review__author-name{
	color: #000;
	font-weight: bold;
}

.review__time{
	margin-right: 15px;
	color: rgba(0, 0, 0, 0.6);
	position: relative;
}

.review__time::before,
.review__time::after{
	content: "";
	position: absolute;
	width: 3px;
	height: 3px;
	border-radius: 50%;
	background-color: rgba(0, 0, 0, 0.6);
	top: 50%;
	transform: translateY(-50%);
}

.review__time::before{
	left: -8px;
}

.review__time::after{
	right: -8px;
}

.review__rating{
	color: rgba(0, 0, 0, 0.6);
	position: relative;
}

.review__rating::after{
	content: "";
	width: 29px;
	height: 29px;
	position: absolute;
	top: -10px;
	right: -37px;
}

.thumbup::after{
	background-image: url(img/thumbup.svg);
}

.thumbdown::after{
	background-image: url(img/thumbdown.svg);
}

.review__blockquote{
	margin: 0;
	padding: 0;
	margin-bottom: 9px;
	line-height: 18px;
}

.review__blockquote a{
	margin-left: 12px;
	color: rgba(0, 0, 0, 0.6);
	text-decoration: none;
}

.review__blockquote a:hover{
	color: rgba(0, 0, 0, 0.4);
}

.review__nav{
	display: flex;
	align-items: center;
}

.review__button{
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-top: 4px;
	text-decoration: none;
	color: #000;
	margin-right: 20px;
	font-size: 13px;
}

.reply__button.active{
	background-color: #feeaa2;
}

.review__link{
	text-decoration: none;
	color: rgba(0, 0, 0, 0.6);
}

.review__link:hover{
	color: rgba(0, 0, 0, 0.4);
}

.reviews__all{
	width: 100%;
	padding: 10px;
	font-size: 15px;
	background-color: #f2f1ed;
	border-color: #f2f1ed;
	margin-bottom: 100px;
}

.reply-form{
	display: none;
	position: relative;
}

.reply-form.active{
	display: block;
}

.reply-form__title{
	font-size: 13px;
	margin-top: 13px;
	margin-bottom: 7px;
}

.reply-form__text{
	width: 100%;
	height: 100px;
	border: 2px solid #ededed;
	resize: none;
	margin-bottom: 6px;
	box-sizing: border-box;
	position: relative;
}

.reply-form__text:hover{
	border-color: #b3b3b3;
}

.reply-form__text:focus{
	outline: none;
	border-color: #b3b3b3;
}

.reply-form__clear{
	display: block;
	background-image: url(img/icon-close.svg);
	background-color: transparent;
	background-repeat: no-repeat;
	background-size: contain;
	border: 0;
	width: 15px;
	height: 15px;
	position: absolute;
	top: 35px;
	right: 12px;
	opacity: 0.4;
}

.reply-form__clear:hover{
	opacity: 0.6;
}

.reply-form__clear:focus{
	opacity: 0.6;
	outline: none;
}

.reply-form__button{
	padding: 7px 21px;
	padding-right: 18px;
	background-color: #ededed;
	border-color: #ededed;
	font-size: 13px;
	margin-left: auto;
	color: rgba(0, 0, 0, 0.6);
}


